
body{
    background-image: url('../img/banco_de_sangue.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}
.container {
    background: rgba(0, 0, 0, 0.7); /* Transparência de 70% */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
.navbar {
    margin-bottom: 0;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;base64,...');
}
.navbar-nav .nav-item {
    margin-left: 15px;
}
.dropdown-menu {
    min-width: 200px; /* Ajuste a largura do menu suspenso, se necessário */
}
.welcome-text {
    color: #fff;
    margin-right: 20px;
}
.text-center {
    margin-top: 20px;
}
.container {
    padding-top: 70px; /* Ajuste conforme necessário para a altura da navbar */
}
body {
    margin: 0;
    padding: 0;
}
.navbar {
    margin-bottom: 0;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj4KICA8ZyBzdHJva2Utd2lkdGg9IjIuIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1vcGFjaXR5PSIwLjUiIHN0cm9rZS1kYXNoYXJyYXk9IjIiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXAtY2hhcmFjdGVyPSJyb3VuZCIgZmlsbD0ibm9uZSI+PC9nPjwvc3ZnPg==');
}
.navbar-nav .nav-item {
    margin-left: 15px;
}
.dropdown-menu {
    min-width: 150px; /* Ajuste a largura do menu suspenso, se necessário */
}
.welcome-text {
    color: #fff;
    margin-right: 20px;
}
.text-center {
    margin-top: 20px;
}
.notification-icon {
    color: white;
    font-size: 1.5em;
    margin-left: 15px;
}
.navbar.fixed-top {
    z-index: 1030;
}