@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40 !important;
}

.navbar-brand {
    font-weight: 500;
    color: #fff !important;
}

.nav-link {
    color: #adb5bd !important;
}

.nav-link:hover {
    color: #fff !important;
}

.navbar-toggler-icon {
    color: #fff !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1) !important;
}

h1 {
    font-weight: 500;
    color: #343a40;
    text-align: center;
    margin-top: 20px;
}


.hero-section {
    height: 100vh;
    background-image: url('../img/background-index.jpg'); 
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-section h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.5rem;
    margin-top: 20px;
}

.hero-btn {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.steps-section {
    padding: 60px 0;
    background-color: #fff;
    text-align: center;
}

.steps-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.step {
    margin-bottom: 40px;
}

.step-icon {
    font-size: 3rem;
    color: #007bff;
}

.contact-section {
    padding: 60px 0;
    background-color: #f1f1f1;
    text-align: center;
}

.contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}
