body {
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.login-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.login-form h2 {
    margin-bottom: 20px;
}
.login-form .form-group {
    margin-bottom: 20px;
}
.login-form .btn {
    margin-bottom: 20px;
}
.login-form .register-link {
    display: block;
    text-align: center;
}